* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 0;
}
header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo img {
  height: 50px;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 10px;
}
nav a:hover {
  color: rgb(161, 161, 161);
  border-bottom: 2px solid gray;
}
