* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body {
  background: linear-gradient(rgb(98, 209, 145), white);
  object-fit: cover;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 10px;
  z-index: 2;
}
.logo img {
  height: 50px;
}
header nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
header nav a:hover {
  color: gray;
  border-bottom: 0.2rem solid gray;
}
.direccion {
  text-align: center;
}
#carouselExampleFade img {
  height: 30rem;
  object-fit: cover;
  z-index: 1;
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
}
.contenedor h2 {
  padding: 2rem;
  font-weight: bold;
}
.contenedor p {
  padding: 0 5rem 4rem;
}

form {
  background-color: rgb(255, 255, 255);
  width: 30rem;
  border: 2px solid black;
}
form fieldset {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
input {
  background-color: rgb(255, 255, 255);
  border: none;
  border-bottom: 2px solid black;
}
textarea {
  width: 100%;
  min-height: 10rem;
  max-height: 10rem;
}
form button {
  padding: 1rem;
  background: #000000;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
}
form button:hover {
  color: grey;
}
form .button-de {
  display: flex;
  width: 100%;
}
footer {
  background-color: black;
  padding: 2rem;
  margin-top: 5rem;
  color: white;
  text-align: center;
}
footer nav a {
  padding: 1rem;
  font-size: 2rem;
  color: white;
}
footer nav a:hover {
  color: gray;
}

#servicios {
  background-color: rgb(197, 216, 216);
  font-size: 1rem;
  margin: 2rem;
  padding: 2rem;
}

#contServicio {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content {
  background-color: #efefee;
  width: 35rem;
  margin-top: 1em;
  padding: 2%;
  border: 0.2em double black;
}
.contents {
  flex: 50%;
  border-left: 0.5rem;
}
.iconosServicio {
  width: 20%;
  margin-left: 50%;
  margin-top: 5%;
}
