* {
    box-sizing: border-box;
    margin: 0;
}
header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo img {
  height: 50px;
}
nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    color: gray;
}

#servicios{
    background-color: rgb(197, 216, 216);
    font-size: 1rem;
    margin: 2rem;
    padding: 2rem;
}

#contServicio{
    text-align: center;
}

.cards{
    display: flex;
}

.content{
    background-color: #efefee;
    flex: 50%;
    margin: 1em;
    padding: 2%;
    border: 0.2em double black;
    display: flex;
    flex-direction: column;  
}
.contents{
    flex: 50%;
    border-left: 0.5rem;
}
.iconosServicio{
    width: 20%;
    margin-left: 50%;
    margin-top: 5%;
}